/*------------------------- *\
 * BUTTONS
/*------------------------- */
button,
.btn {
  display: inline-block;
  padding: 7px 20px;
  border: 2px solid;
  @include border-radius(35px);
  background: none;
  color: $b-80;
  line-height: 1.5;
  letter-spacing: 0.25px;
  font-weight: 600;
  @include transition(color 177ms, border 177ms);
  cursor: pointer;

  @include retina {
    font-weight: 400;
    border-width: 1px;
  }

  &.fill {
    border: none;
    background-color: $b-05;
    color: $b-60;
  }

  &.white {
    border-color: $w-60;
    color: $w-90;

    &:hover {
      border-color: $w-80;
      color: $w;
    }
  }

  &.white-fill {
    border: none;
    background-color: $w;
    color: $b-80;
  }

  i {
    font-size: 17px;

    &.left {
      float: left;
      margin-left: -5px;
      margin-right: 5px;
    }

    &.right {
      float: right;
      margin-left: 5px;
      margin-right: -5px;
    }
  }
}
