// MONOCHROMATIC
$b-05: rgba(0, 0, 0, 0.05);
$b-10: rgba(0, 0, 0, 0.1);
$b-20: rgba(0, 0, 0, 0.2);
$b-30: rgba(0, 0, 0, 0.3);
$b-45: rgba(0, 0, 0, 0.45);
$b-60: rgba(0, 0, 0, 0.6);
$b-70: rgba(0, 0, 0, 0.7);
$b-80: rgba(0, 0, 0, 0.8);
$b-90: rgba(0, 0, 0, 0.9);
$b: rgba(0, 0, 0, 1);

$w-50: rgba(white, 0.5);
$w-60: rgba(white, 0.6);
$w-70: rgba(white, 0.7);
$w-80: rgba(white, 0.8);
$w-90: rgba(white, 0.9);
$w-98: rgba(white, 0.98);
$w: rgb(255, 255, 255);

// UI
$blue: rgb(67, 131, 187);

// SOCIAL COLORS
$facebook: rgb(57, 87, 157);
$twitter: rgb(0, 172, 236);
$twitter-light: rgb(229, 247, 253);
$google: rgb(220, 74, 56);
$pinterest: rgb(202, 31, 36);
$linkedin: rgb(0, 151, 188);
