.left {
  float: left;
}

.right {
  float: right;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  @include translateX(-50%);
  z-index: -1;

  .w-icon-li-weebly-logo {
    display: inline-block;
    height: 50px;
    margin-top: 18px;
    color: $w;
    font-size: 120px;
    line-height: 0.5;
  }
}
