.container
  max-width: 1280px
  padding: 0 20px
  margin: auto
  overflow: hidden

.main-header
  clear: both
  height: 85px
  padding: 22px 0
  overflow: hidden

  &__menu
    float: left

    .white--borderless
      padding: 7px 3px

  &__menu--user
    float: right

    button
      &:last-child
        display: none

        +min-width(768px)
          display: inline-block