.container
  +container($global-width, 20px)

  +min-width(960px)
    margin-top: 20px

.sidebar
  display: none
  
  +min-width(960px)
    float: left
    display: block
    width: 20%
    padding: 0 20px

.content
  width: 100%
  border: 1px solid $b-20
  background-color: $w

  +min-width(960px)
    float: left
    width: 80%

  .body
    padding: 20px 15px

    +min-width(960px)
      padding: 40px 35px
