.header
  /*-------------------------*\
   * MENU HEADER
  /*-------------------------*/
  &--menu
    position: absolute
    top: 0
    right: 0
    left: 0
    +container($global-width, 10px)
    height: 65px
    border-bottom: 1px solid $w-20
    z-index: 1

    +min-width(960px)
      height: 85px
      padding: 20px

    +min-width($global-width + 40px)
      padding: 20px 0

  /*-------------------------*\
   * PAGE HEADER LAYOUTS
  /*-------------------------*/
  &--tall
    +cover($header-tall)

    .bg
      +bg-cover(center, 78%) // TODO: [JR] change 78% (For PSD pixel perfect only, not for production) to center
      +bg-fade(rgb(67, 131, 187), 0.85)

    .title
      +bg-title(50%, $w-90)

    .subtitle
      +bg-subtitle(61%, $w-60)

  &--short
    +cover($header-short)

    .bg
      +bg-cover(center, 78%)
      +bg-fade(rgb(67, 131, 187), 0.85)

    .title
      +bg-title(50%, $w-90)

    .subtitle
      +bg-subtitle(61%, $w-60)

  /*-------------------------*\
   * CONTENT HEADER
  /*-------------------------*/
  &--content
    padding: 20px
    border-bottom: 1px solid $b-20

    +min-width(960px)
      padding: 40px

    .title
      font-size: 28px

    .subtitle
      color: $b-60
      font-size: 16px

  /*-------------------------*\
   * SNIPPET HEADER
  /*-------------------------*/
  &--snippet
    height: 55px
    line-height: 55px
    padding-left: 20px
    padding-right: 13px

    &:after
      content: ''
      float: left
      width: 150%
      height: 1px
      background-color: $b-20

