.menu
  &--global
    float: left

    .white--borderless
      padding: 7px 3px

  &--user
    float: right

    button
      &:last-child
        display: none

        +min-width(960px)
          display: inline-block

  &--sidebar
    width: 100%

    &--sub
      margin-bottom: 20px

.item
  list-style-type: none

  &--sub
    margin: 10px
    list-style-type: none

.link
  color: $blue

  &--tab
    display: block
    position: relative
    height: $tab-height - $tab-modifier
    padding: 0 5px
    color: $gray
    font-size: 11px
    font-weight: $bold
    text-transform: uppercase

    +min-width(960px)
      padding: 0 20px
      font-size: 16px

    &:hover
      color: $gray--light

    &.active
      color: $blue

  &--header
    display: block
    padding: 7px 14px
    font-size: 16px
    font-weight: $bold
    text-transform: uppercase

  &--sub
    padding: 7px 14px
    color: $gray
    font-size: 16px
    font-weight: $bold

    &:hover,
    &.active
      color: $blue

  &--snippet
    display: inline-block
    padding: 0 7px
    color: $blue
    font-size: 12px
    font-weight: $bold
    text-transform: uppercase
