.menu
  &--global
    float: left

    .white--borderless
      padding: 7px 3px

  &--user
    float: right

    button
      &:last-child
        display: none

        +min-width(960px)
          display: inline-block

  &--sidebar
    width: 100%

    &--sub
      margin-bottom: 20px

.item
  list-style-type: none

  &--sub
    margin: 10px
    list-style-type: none

.link
  &--tab
    display: block
    height: $tab-height - $tab-modifier
    padding: 0 5px
    color: $b-45
    font-size: 11px
    font-weight: 600
    text-transform: uppercase

    +min-width(960px)
      padding: 0 20px
      font-size: 16px

    &:hover
      color: $b-70

    &.active
      color: $blue--link
      border-bottom: $tab-modifier solid

  &--header
    display: block
    padding: 7px 14px
    font-size: 16px
    font-weight: 600
    text-transform: uppercase

  &--sub
    padding: 7px 14px
    color: $b-45
    font-size: 16px
    font-weight: 600

    &:hover,
    &.active
      color: $blue--link
