/*-------------------------*\
 * TABS
/*-------------------------*/
.tabs
  height: $tab-height
  border-bottom: $tab-modifier solid $gray--lighter
  background-color: $w-98
  line-height: $tab-height + $tab-modifier
  text-align: center

  .tab
    display: none
    list-style: none

    +max-width(959px)
      @for $i from 1 through $max-number-of-tabs
        &:first-child:nth-last-child(#{$i}),
        &:first-child:nth-last-child(#{$i}) ~ .tab,
          display: block
          float: left
          width: 100% / $i

    +min-width(960px)
      display: inline-block
      width: auto
      float: none

    &--indicator
      position: absolute
      bottom: -$tab-modifier
      right: 0
      left: 0
      height: $tab-modifier
      background-color: $blue
      +transition(transform 233ms)
