/*-------------------------*\
 * CONTAINER
/*-------------------------*/
$global-width: 1280px

/*-------------------------*\
 * PAGE HEADERS
/*-------------------------*/
$header-short: 27.45%
$header-tall: 50%
$header-splash: 100%

/*-------------------------*\
 * TABS
/*-------------------------*/
$max-number-of-tabs: 4

$tab-height: 55px
$tab-modifier: 2px
