// MONOCHROMATIC
$b-05: rgba(0, 0, 0, 0.05);
$b-10: rgba(0, 0, 0, 0.1);
$b-20: rgba(0, 0, 0, 0.2);
$b-30: rgba(0, 0, 0, 0.3);
$b-45: rgba(0, 0, 0, 0.45);
$b-60: rgba(0, 0, 0, 0.6);
$b-70: rgba(0, 0, 0, 0.7);
$b-80: rgba(0, 0, 0, 0.8);
$b-90: rgba(0, 0, 0, 0.9);
$b: rgba(0, 0, 0, 1);

$w-90: rgba(white, 0.9);
$w-98: rgba(white, 0.98);
$w: rgb(255, 255, 255);

// UI
$light-blue: rgb(82, 165, 194);
$blue: rgb(0, 132, 199);
$green: rgb(115, 203, 1);
$dark-green: rgb(71, 139, 84);
$orange: rgb(220, 94, 46);
$tomato: rgb(255, 99, 71);
$red: rgb(246, 90, 91);

// SOCIAL COLORS
$facebook: rgb(57, 87, 157);
$twitter: rgb(0, 172, 236);
$twitter-light: rgb(229, 247, 253);
$google: rgb(220, 74, 56);
$pinterest: rgb(202, 31, 36);
$linkedin: rgb(0, 151, 188);
